# Dependencies
node_modules/
.npm/

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env*.local

# Prisma
apps/api/prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel
